@page
@model VendingMachineRazerUI.Pages.GenerateAdminModel
@{
	ViewData["Title"] = "GenerateAdmin";
}

<h1>Generate admin</h1>

<h2>Role created: @Model.RoleCreated</h2>
<h2>Admin user id: @Model.AdminUserId</h2>